// Normalize =======================================================================================

@import 'normalize';

// Variables =======================================================================================

$font-stack: Helvetica, Arial, sans-serif;

// Global ==========================================================================================

body {
	font: 12px $font-stack;
	background: blue\9; // IE 8 and below
}

// Header ==========================================================================================
// Navigation ======================================================================================
// Section =========================================================================================
// Aside ===========================================================================================
// Footer ==========================================================================================