// Normalize =======================================================================================

@import '../lib/normalize';

// Variables =======================================================================================

$font-stack: Helvetica, Arial, sans-serif;

// Global ==========================================================================================

body {
	font: 12px $font-stack;
	background: blue\9; // IE 8 and below
}

// Header ==========================================================================================
// Navigation ======================================================================================
// Section =========================================================================================
// Aside ===========================================================================================
// Footer ==========================================================================================

// Smartphones and tablets =========================================================================

// Smartphones
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

// Smartphones (landscape)
@media only screen and (min-width : 321px) {}

// Smartphones (portrait)
@media only screen and (max-width : 320px) {}

// Tablets
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

// Tablets (landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

// Tablets (portrait)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}
